@*@model hwBlog.Models*@

@{
    ViewBag.Title = "About Hanif Warren";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is my blog site, wherein I demonstrate some of the techniques and competencies I have developed as a full stack developer. <br/> I also use it to store blog entries relevant to what I learn as I grow as a developer.</p>
