@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Hanif's Blog</h1>
    <p class="lead">Hanif Warren built this site  using ASP.NET MVC. <br /> ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript. MVC is a powerful, yet flexible, design pattern which allows effective separation of concerns and agile development</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started on my site</h2>
        <p>
            I built this site using ASP.NET MVC, which gave me a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives me full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://www.asp.net/mvc">Learn More about MVC &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>Relevant libraries were added using NuGet, which is a tools and extensions manager.</p>
        <p><a class="btn btn-default" href="https://www.NuGet.Org">Visit NuGet homepage &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Coder Foundry</h2>
        <p>These skills were honed at Coder Foundry, where I received powerful mentoring and technical guidance while building Asp.Net MVC applications</p>
        <p><a class="btn btn-default" href="http://www.coderfoundry.com">Click here for Coder Foundry &raquo;</a></p>
    </div>
</div>