  <!--<appSettings>
    <add key="SendGridApiKey" value="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"/>
    <add key="ContactEmail" value="charleslinyc@outlook.com"/>  
   </appSettings>-->

<appSettings>
  <add key="username" value="hwarrennj@gmail.com"/>
  <add key="password" value="mynewgmail"/>
  <add key="emailto" value="hwarrennj@gmail.com"/>
  <add key="host" value="smtp.gmail.com"/>
  <add key="port" value="465"/>
</appSettings>
